*{
    margin:0;
    padding:0;
}
*,::after,::before{box-sizing:border-box}
body
{
    background-color: rgb(0, 0, 0);
}
.font-style
{
    font-family:monospace;
}
.text-vio
{
    color: rgb(202 140 253);
}
.bg-vio
{
    background-color: rgb(100, 8, 175);
    color:rgb(247, 243, 243);
}
.bg-pink
{
    background-color: rgb(228, 51, 213);
}
.bg-light-info
{
    color: rgb(3, 3, 3);
    background-color: rgb(106, 206, 252);
}
.bg-light-danger
{
    background-color: rgb(238, 93, 93);
}
.vh-85
{
    min-height: 85vh;
}
.vh-90
{
    min-height: 90vh;
}
.d-cl
{
    background-color: rgb(0, 0, 0);
}
.nav-link
{
    font-size:medium;
    font-weight:  400;
    color: rgb(255, 255, 255);
}
.nav-link:hover
{
    color: #ff765f;
}
.nav-warning
{
    font-family:monospace;
    font-size: x-large;
    font-weight:  400;
    color: rgb(240, 229, 75);
    transition: 0.25s;
}
.nav-warning:hover {
    color: rgb(248, 218, 135);
    -webkit-box-shadow:  0 3px rgb(235, 220, 137);
    -moz-box-shadow:  0 3px rgb(235, 220, 137);
    box-shadow:  0 3px rgb(235, 220, 137);
    
}
.nav-warning:active {
    color: rgb(255, 255, 255);
    -webkit-box-shadow:  0 3px rgb(218, 217, 216);
    -moz-box-shadow:  0 3px rgb(226, 226, 225);
    box-shadow:  0 3px rgb(204, 204, 202);
    
}
.nav-green:hover {
    -webkit-box-shadow:  0 8px 6px -9px rgb(96, 38, 231);
    -moz-box-shadow:  0 0 10px rgb(96, 38, 231);
    box-shadow: inset 0 0 10px rgb(38, 231, 135);
}
.bg-t-success
{
    background-color:rgba(54, 231, 38, 0.151);
}
.bg-t-warning
{
    background-color:rgba(212, 231, 38, 0.151);
}
.bg-t-pink
{
    background-color:rgba(231, 38, 231, 0.151);
}
.contact .info i {
    font-size: 20px;
    color: #ffee00;
    float: left;
    width: 44px;
    height: 44px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.contact .info i:hover {
    color: #3afce2;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title .h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
.section-title .h2::after {
    content: '';
    position: absolute;
    display: block;
    justify-content: center;
    width: 50px;
    height: 3px;
    background: #f0de41;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
.resume .resume-title {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f9fc59;
}
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #f0de41;
    position: relative;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #f0de41;
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }




/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .vh-85{
        min-height: 55vh;
    }
    .vh-90{
        min-height: 60vh;
    }
    .nav-warning
    {
        font-size: large;
    }
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .vh-85{
        min-height: 60vh;
    }
    .vh-90{
        min-height: 65vh;
    }
 }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {  }

/* XX-Large devices (larger desktops)*/
/* No media query since the xxl breakpoint has no upper bound on its width*/